<form autocomplete="off" class="grid grid-cols-12 bg-purple-200 pt-2 pb-2">
  <img src="../../../assets/browser-image.png" class="col-start-4 w-52">
  <input [(ngModel)]="movie" name="movie" class="col-start-5 col-span-3 pl-2 rounded-lg border border-transparent mt-2 mb-2 ml-4" placeholder="type your movie here">
  <button class="col-start-8 my-2 mx-5 bg-purple-400 border border-transparent rounded-lg text-white font-semibold" (click)="find(movie)">
    Find it
  </button>
</form>
<div class="grid grid-cols-6 mt-2">
  <app-card class="col-start-2"></app-card>
  <app-card class="col-start-3"></app-card>
  <app-card class="col-start-4"></app-card>
  <app-card class="col-start-5"></app-card>
  <app-card class="col-start-2"></app-card>
  <app-card class="col-start-3"></app-card>
  <app-card class="col-start-4"></app-card>
  <app-card class="col-start-5"></app-card>
  <app-card class="col-start-2"></app-card>
</div>